<header class="w-full">
  <nav class="flex justify-center gap-4 p-4">
    <a href="#experience">Experiencia</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mí</a>
    <a href="#contacto">Contáctame</a>
  </nav>
</header>