---
import Section from "./Section.astro"
---

<Section class="flex flex-col items-start gap-4">
  <h1 class="text-4xl font-bold">Hey, soy Lucas!</h1>
  <p class="text-balance text-lg text-start">Hace 4 años conocí el mundo del desarrollo web, hoy me apasiona crear sitios estáticos con html, sin css ni javascript</p>
</Section>